// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// COLORS
$color-primary: #020040;
$color-sec: #030056;
$color-white: #fff;
$color-black: #000;
$color-grey-light: #aaa;
